<%- contentFor('main-content') %>


<!--USER CONTENT-->
<%- include ('../contents/user-content') %>
<!--CURRENTBUSINESS CONTENT-->
<%- include ('../contents/currentBusiness-content') %>
<!--DEPARTMENT CONTENT-->
<%- include ('../contents/department-content') %>
<!--ROLE CONTENT-->
<%- include ('../contents/role-content') %>
<!--PROFILE CONTENT-->
<%- include ('../contents/profile-content') %>
<!--POST CONTENT-->
<%- include ('../contents/post-content') %>
<!--POSTS BY USER CONTENT-->
<%- include ('../contents/posts_by_user-content') %>

