<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            UserModule
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/usermodule/users">Users</a></li>
            <li><a href="/usermodule/departments">Departments</a></li>
            <li><a href="/usermodule/roles">Roles</a></li>
            <li><a href="/usermodule/profiles">Profiles</a></li>
            <li><a href="/usermodule/currentbusinesses">Businesses</a></li>
            <li><a href="/posts">Posts</a></li>
        </ul>
    </div>

</div>
</nav>