<!--ARTICLE VIEW STARTS HERE -->
<% if (title == 'Create Article') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="Article Title" required>
              <br><br>
              Article Body:<br>
              <textarea rows="4" cols="50" name="article_body" value="Article Body" style="margin: 0px; width: 346px; height: 94px;"></textarea>
              <br><br>
              Users:<br>
               <select name = "user_id">
                    <% users.forEach(function(user) { %>
                    <option value="<%= user.id %>"><%= user.first_name %></option>
                <br/>
               <% }); %>
                </select>
                <br><br>
              Category:<br>
                <div>
                     <% categories.forEach(function(category) { %>
              <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                    <label for="<%= category.name %>"><%= category.name %></label>                 
                <br/>
               <% }); %>
                 </div>
              <br><br>
              <input type="submit" value="Create Article" onClick="checkCat()">
             </form>

        </div>
    </div>
<% } else if (title == 'Delete Article') { %>
     
<% } else if (title == 'Update Article') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/portal/article/<%= article.id %>/update" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="<%= article.article_title %>" required>
              <br><br>
              Article Body:<br>
              <textarea rows="4" cols="50" name="article_body" value="<%= article.article_body %>" style="margin: 0px; width: 346px; height: 94px;"><%= article.article_body %></textarea>
              <br/><br/>
              Category:<br>
                <div>
                     <% categories.forEach(function(category) { %>
                    <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                    <label for="<%= category.name %>"><%= category.name %></label>
                    
                <br/>
               <% }); %>
                 </div>
              <br>
              <input type="submit" value="Update Article" onClick="checkCat()">
            </form>
        </div>
    </div>
<% } else if (title == 'Article Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single article</h1>
            <p>I am an article for this ID = <%= article.id %></p>
            <p>Article Title: <%= article.article_title %></p>
            <p>Article Body:  <%= article.article_body %></p>
            <b>Created by: </b> <%= article.User.first_name %> <%= article.User.last_name %> <br/>
            <p><b> Categories:
            <% article.categories.forEach(function(category) { %> 
            
             <a href="/portal/category/<%= category.id %>/"> <%= category.name %> </a>  
            <% }); %>
            </b></p>
            
             <a href="/portal/article/<%= article.id %>/update">Edit  Article</a> | <a href="/portal/article/<%= article.id %>/delete">Delete Article</a>
             
             
            <% if(article.Comments.length == 0) { %>
                <h2>There are no comments for this article yet </h2>
            <% } else { %>
                
         <h2>All Comments on this Article</h2>
        <div class="">
            <ol>
            <% article.Comments.forEach(function(comment) { %>
                    <li>
                        <p><%= comment.comment_body %>
                            --- <a href="/portal/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/portal/comment/<%= comment.id %>/delete">Delete Comment</a>
                        </p>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>   
        <% } %>
            
        <!--Form to add new comment-->
        <h1>ADD A NEW COMMENT </h1>
         <form action="/portal/comment/create" method="post">
              Comment Title:<br>
              <input type="text" name="comment_title" value="Comment Title">
              <br><br>
              Comment Body:<br>
             <textarea rows="4" cols="50" name="comment_body" style="margin: 0px; width: 346px; height: 94px;">write comment here.....</textarea>
              <br><br>
              <input type="hidden" name="article_id" value="<%= article.id %>">
              <input type="submit" value="Create Comment">
        </form>
        </div>
    </div>
<% } else if (title == 'Article List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% articles.forEach(function(article) { %>
                <li>
                   <h4><a href="/portal/article/<%= article.id %>"><%= article.article_title %></a></h4>
                    <p>The main body of the article <%= article.article_body %></p>
                    <p><b>Created by: </b> <%= article.User.first_name %> <%= article.User.last_name %> <br/>
                    <b>Inside Categories:
                        <% article.categories.forEach(function(category) { %> 
                        
                         <a href="/portal/category/<%= category.id %>/"> <%= category.name %> </a>  
                        <% }); %>
                        </b></p>
            
                    <a href="/portal/article/<%= article.id %>/update">Edit  Article</a> | <a href="/portal/article/<%= article.id %>/delete">Delete Article</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    <a href="/portal/article/create">CLICK HERE TO CREATE AN ARTICLE</a>
    </div>
<% } else  { %>

<% } %>
<!--ARTICLE VIEW END HERE-->

<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>
