<!--CATEGORY VIEW STARTS HERE-->
<% if (title == 'Create Category') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Category Name:<br>
              <input type="text" name="name" value="Category Name">
              <br><br>
              <input type="submit" value="Create Category">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Category') { %>
     
<% } else if (title == 'Update Category') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/portal/category/<%= category.id %>/update" method="post">
              Category:<br>
              <input type="text" name="content" value="<%= category.name %>">
              <br><br>
              <input type="submit" value="Update Category">
            </form>
        </div>
    </div>
<% } else if (title == 'Category Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single category - <%= category.name %></h1>
             <p>I am a category for this ID = <%= category.id %></p>
             <p>Category Name: <%= category.name %></p>
             <a href="/portal/category/<%= category.id %>/update">Edit  Category</a> | <a href="/portal/category/<%= category.id %>/delete">Delete Category</a>
        </div>
        
        <% if(category.articles.length == 0) { %>
            <h2>There are no articles under this category yet </h2>
        <% } else { %>
            <h2>All Articles in this Category</h2>
            <div class="">
                <ol>
                <% category.articles.forEach(function(article) { %>
                        <li>
                            <p><%= article.article_title %>
                               <%= article.article_body %>
                                <br/><a href="/portal/article/<%= article.id %>/update">Edit  Article</a> | <a href="/portal/article/<%= article.id %>/delete">Delete Article</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>  
    </div>
<% } else if (title == 'Category List') { %>
    <div class="col-sm-8">    
        <div class="">
            <p>These are the lists of categories we have in our database</p>
            <ul>
            <% categories.forEach(function(category) { %>
                    <li>
                        <h4><a href="/portal/category/<%= category.id %>"><%= category.name %></a></h4>
                        <p>The main body of the category <%= category.name %></p>
                         <a href="/portal/category/<%= category.id %>/update">Edit  Category</a> | <a href="/portal/category/<%= category.id %>/delete">Delete Category</a>
                    </li>
                <br/>
            <% }); %>
            </ul>
        </div>
        <a href="/portal/category/create">CLICK HERE TO ADD CATEGORY</a>
    </div>
<% } else { %>

<% } %>
<!--CATEGORY VIEW END HERE-->