<!--COMMENT VIEW STARTS HERE-->
<% if (title == 'Create Currentbusiness') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
           <form action="" method="post">
              Currentbusiness Name:<br>
              <input type="text" name="currentBusinessName" placeholder="project name">
              <input type="submit" value="Create Business">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Currentbusiness') { %>
     
<% } else if (title == 'Update Currentbusiness') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
             <form action="/usermodule/currentbusiness/<%= currentBusiness.id %>/update" method="post">
              Currentbusiness Name:<br>
              <input type="text" name="currentBusinessName" value="<%= currentBusiness.currentBusinessName%>">
              <input type="submit" value="Update Business">
            </form>
        </div>
    </div>
<% } else if (title == 'Currentbusiness Details') { %>
     <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Currentbusiness</h1>
             <p>I am a Busines for this ID = <%= currentBusiness.id %></p>
             <p>Currentbusiness Name: <%= currentBusiness.currentBusinessName %></p><br>
             
        <% if(currentBusiness.Users.length == 0) { %>
            <h2>No One Is Working On This Yet </h2>
        <% } else { %>
            <h2>Those Working On <%= currentBusiness.currentBusinessName %> Project Are:</h2>
            <div class="">
                <% currentBusiness.Users.forEach(function(user) { %>
                    <p> 
                     <a href="/usermodule/user/<%= user.id %>"><%= user.firstName %> <%= user.lastName %></a>
                    <br/>
                    </p>
                <% }); %>
            </div><br>    
         <% } %>
             <a href="/usermodule/currentbusiness/<%= currentBusiness.id %>/update">Edit Currentbusiness</a> | <a href="/usermodule/currentbusiness/<%= currentBusiness.id %>/delete">Delete Currentbusiness</a>
        </div>
    </div>
<% } else if (title == 'Currentbusiness List') { %>
<div class="col-sm-8">    
        <div class="">
       <ol>
        <% currentBusinesses.forEach(function(currentBusiness) { %>
                <li>
                    <h4><a href="/usermodule/currentbusiness/<%= currentBusiness.id %>"><%= currentBusiness.currentBusinessName %></a></h4>
                    <p>The main body of the Currentbusiness <%= currentBusiness.currentBusinessName %></p>
                     <a href="/usermodule/currentbusiness/<%= currentBusiness.id %>/update">Edit Business</a> | <a href="/usermodule/currentbusiness/<%= currentBusiness.id %>/delete">Delete Business</a>
                </li>
            <br/>
        <% }); %>
        </ol>
      </div>
     <a href="/usermodule/currentbusiness/create">CLICK HERE TO CREATE A BUSINESS</a>
    </div>
<% } else { %>

<% } %>
<!--COMMENT VIEW ENDS HERE-->