<!--COMMENT VIEW STARTS HERE-->
<% if (title == 'Create Department') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
           <form action="" method="post">
              Department Name:<br>
              <input type="text" name="departmentName" placeholder="dept">
              <input type="submit" value="Create Department">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Department') { %>
     
<% } else if (title == 'Update Department') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
             <form action="/usermodule/department/<%= department.id %>/update" method="post">
              Department Name:<br>
              <input type="text" name="departmentName" value="<%= department.departmentName%>">
              <input type="submit" value="Update Department">
            </form>
        </div>
    </div>
<% } else if (title == 'Department Details') { %>
     <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Department</h1>
             <p>I am a dept for this ID = <%= department.id %></p>
             <p>Department Name: <%= department.departmentName %></p>
             <a href="/usermodule/department/<%= department.id %>/update">Edit Department</a> | <a href="/usermodule/department/<%= department.id %>/delete">Delete Department</a><br>
        
        <% if(department.Users.length == 0) { %>
            <h2>There Are No Users In This Dept Yet </h2>
        <% } else { %>
            <h2>All Users In <%= department.departmentName %></h2>
            <div class="">
                <ol>
                <% department.Users.forEach(function(user) { %>
                        <li>
                            <p> 
                                <a href="/usermodule/user/<%= user.id %>"><%= user.firstName %> <%= user.lastName %></a>
                                <br/>
                            </p>
                        </li>
                <% }); %>
                </ol>
            </div>    
         <% } %>
        </div>
    </div>
<% } else if (title == 'Department List') { %>
<div class="col-sm-8">    
        <div class="">
       <ol>
        <% departments.forEach(function(department) { %>
                <li>
                    <h4><a href="/usermodule/department/<%= department.id %>"><%= department.departmentName %></a></h4>
                    <p>The main body of the department <%= department.departmentName %></p>
                     <a href="/usermodule/department/<%= department.id %>/update">Edit Department</a> | <a href="/usermodule/department/<%= department.id %>/delete">Delete Department</a>
                </li>
            <br/>
        <% }); %>
        </ol>
      </div>
     <a href="/usermodule/department/create">CLICK HERE TO CREATE A DEPARTMENT</a>
    </div>
<% } else { %>

<% } %>
<!--COMMENT VIEW ENDS HERE-->