 <% if (title == 'Posts By User Details') { %>
    <div class="col-sm-8">    
        <div class="">
            <h1>Posts for this User ID = <%= user.id %></h1>
            <p>Posts Created By <%= user.userName %></p>
            <Ul>
                <% user.Posts.forEach(function(post) { %>
                    <li>
                        <p>Post Title:  <%= post.postTitle %></p>
                        <p>Post Body<br><%= post.postBody %></p><br>
                    </li>
                <br>
              <% }); %>
            </ul>
        </div>
    </div>
<% } else { %>

<% } %>
