<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Post Title:<br>
              <input type="text" name="postTitle" placeholder="Post Title" required>
              <br><br>
              Post Body:<br>
              <textarea rows="4" cols="50" name="postBody" placeholder="write here....." style="margin: 0px; width: 346px; height: 94px;" required></textarea>
              <br><br>
              Created by:<br>
               <select name = "user_id">
                    <% users.forEach(function(user) { %>
                    <option value="<%= user.id %>"><%= user.firstName %></option>
                <br/>
               <% }); %>
                </select>
                <br><br>
              Current business:<br>
              <select name="currentBusiness_id">
                    <% currentBusinesses.forEach(function(currentBusiness) { %>
                    <option value="<%= currentBusiness.id %>"><%= currentBusiness.currentBusinessName %></option>
                <br/>
               <% }); %>
               </select>
               <br><br>
              <input type="submit" value="Create Post">
             </form>

        </div>
    </div>
<% } else if (title == 'Delete Post') { %>
     
<% } else if (title == 'Update Post') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/posts/<%= post.id %>/update" method="post">
              Post Title:<br>
              <input type="text" name="postTitle" value="<%= post.postTitle %>" placeholder="Post Title" required>
              <br><br>
              Post Body:<br>
              <textarea rows="4" cols="50" name="postBody" placeholder="write here......" style="margin: 0px; width: 346px; height: 94px;" required><%= post.postBody %></textarea>
              <br><br>
              <input type="submit" value="Update Post">
            </form>
        </div>
    </div>
<% } else if (title == 'Post Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single post</h1>
            <p>I am a post for this ID = <%= post.id %></p>
            <p>Post Title: <%= post.postTitle %></p>
            <p>Post Body:  <%= post.postBody %></p>
            <b>Created by: </b> <%= post.User.firstName %> <%= post.User.lastNname %> <br/>
            <a href="/posts/<%= post.id %>/update">Edit  Post</a> | <a href="/posts/<%= post.id %>/delete">Delete Post</a>
        </div>
    </div>
<% } else if (title == 'Post List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% posts.forEach(function(post) { %>
                <li>
                   <h4><a href="/posts/<%= post.User.id %>"><%= post.postTitle %></a></h4>
                    <p>The main body of the post:  <%= post.postBody %></p>
                    <p><b>Created by: </b> <%= post.User.firstName %> <%= post.User.lastName %> <br/>
                    <a href="/posts/<%= post.id %>/update">Edit  Post</a> | <a href="/posts/<%= post.id %>/delete">Delete Post</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    <a href="/posts/create">CLICK HERE TO CREATE A POST</a>
    </div>
<% } else  { %>

<% } %>
<!--POST VIEW END HERE-->