<!--COMMENT VIEW STARTS HERE-->
<% if (title == 'Create Profile') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
           <form action="" method="post">
              Profile Name:<br>
              <input type="text" name="profileName" placeholder="Admin">
              <input type="submit" value="Create Profile">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Profile') { %>
     
<% } else if (title == 'Update Profile') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
             <form action="/usermodule/profile/<%= profile.id %>/update" method="post">
              Profile Name:<br>
              <input type="text" name="profileName" value="<%= profile.profileName%>">
              <input type="submit" value="Update Profile">
            </form>
        </div>
    </div>
<% } else if (title == 'Profile Details') { %>
     <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Profile</h1>
             <p>I am a profile for this ID = <%= profile.id %></p>
             <p>Profile Name: <%= profile.profileName %></p>
             <a href="/usermodule/profile/<%= profile.id %>/update">Edit Profile</a> | <a href="/usermodule/profile/<%= profile.id %>/delete">Delete Profile</a>
        </div>
        
        <% if(profile.Users.length == 0) { %>
            <h2>We don't have any <%= profile.profileName %></h2>
        <% } else if(profile.Users.length == 1) { %>
             <% profile.Users.forEach(function(user) { %>
                    <p> 
                     <p><a href="/usermodule/user/<%= user.id %>"><%= user.firstName %> <%= user.lastName %> is the <%= profile.profileName %></a></p>
                    <br/>
                    </p>
             <% }); %>
             
        <% } else { %>
            <h2>Users with the profile <%= profile.profileName %>:</h2>
            <div class="">
                <% profile.Users.forEach(function(user) { %>
                    <p> 
                     <a href="/usermodule/user/<%= user.id %>"><%= user.firstName %> <%= user.lastName %></a>
                    <br/>
                    </p>
                <% }); %>
            </div><br>    
         <% } %>
        
        
        
        
    </div>
<% } else if (title == 'Profile List') { %>
<div class="col-sm-8">    
        <div class="">
       <ol>
        <% profiles.forEach(function(profile) { %>
                <li>
                    <h4><a href="/usermodule/profile/<%= profile.id %>"><%= profile.profileName %></a></h4>
                    <p>The main body of the profile <%= profile.profileName %></p>
                     <a href="/usermodule/profile/<%= profile.id %>/update">Edit  Profile</a> | <a href="/usermodule/profile/<%= profile.id %>/delete">Delete Profile</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
  <a href="/usermodule/profile/create">CLICK HERE TO CREATE A PROFILE</a>
 </div>
<% } else { %>

<% } %>
<!--COMMENT VIEW ENDS HERE-->