<!--COMMENT VIEW STARTS HERE-->
<% if (title == 'Create Role') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
           <form action="" method="post">
              Role Name:<br>
              <input type="text" name="roleName" placeholder="staff">
              <input type="submit" value="Create Role">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Role') { %>
     
<% } else if (title == 'Update Role') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
             <form action="/usermodule/role/<%= role.id %>/update" method="post">
              Role Name:<br>
              <input type="text" name="roleName" value="<%= role.roleName%>">
              <input type="submit" value="Update Role">
            </form>
        </div>
    </div>
<% } else if (title == 'Role Details') { %>
     <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Role</h1>
             <p>I am an dept for this ID = <%= role.id %></p>
             <p>Role Name: <%= role.roleName %></p>
             
        <% if(role.Users.length == 0) { %>
            <h2>No one is filling this role yet, maybe we should recruit.</h2>
        <% } else if(role.Users.length == 1) { %>
                <% role.Users.forEach(function(user) { %>
                    <p> 
                     <p><a href="/usermodule/user/<%= user.id %>"><%=user.firstName %> <%= user.lastName %> is our only <%= role.roleName %></a></p>
                    <br/>
                    </p>
                <% }); %>
        <% } else { %>
            <h2>Users In The Role Of <%= role.roleName %>:</h2>
            <div class="">
                <% role.Users.forEach(function(user) { %>
                    <p> 
                     <a href="/usermodule/user/<%= user.id %>"><%= user.firstName %> <%= user.lastName %></a>
                    <br/>
                    </p>
                <% }); %>
            </div><br>    
         <% } %>
             
             <a href="/usermodule/role/<%= role.id %>/update">Edit Role</a> | <a href="/usermodule/role/<%= role.id %>/delete">Delete Role</a>
        </div>
    </div>
<% } else if (title == 'Role List') { %>
<div class="col-sm-8">    
        <div class="">
       <ol>
        <% roles.forEach(function(role) { %>
                <li>
                    <h4><a href="/usermodule/role/<%= role.id %>"><%= role.roleName %></a></h4>
                    <p>The main body of the role <%= role.roleName %></p>
                     <a href="/usermodule/role/<%= role.id %>/update">Edit  Role</a> | <a href="/usermodule/role/<%= role.id %>/delete">Delete Role</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
<a href="/usermodule/role/create">CLICK HERE TO CREATE A ROLE</a>
</div>
<% } else { %>

<% } %>
<!--COMMENT VIEW ENDS HERE-->