<!--USER VIEW STARTS HERE -->
<% if (title == 'Create User') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              firstname:<br>
              <input type="text" name="firstName" placeholder="joe">
              <br><br>
              lastname:<br>
              <input type="text" name="lastName" placeholder="rock">
              <br><br>
              username:<br>
              <input type="text" name="userName" placeholder="joerock" minlength="8" autocomplete="off" required>
              <br><br>
              email:<br>
              <input type="email" name="email" placeholder="joerock@mail.com" required>
              <br><br>
              current business:<br>
              <select name="currentBusiness">
                    <% currentBusinesses.forEach(function(currentBusiness) { %>
                    <option value="<%= currentBusiness.id %>"><%= currentBusiness.currentBusinessName %></option>
                <br/>
               <% }); %>
               </select>
               <br><br>
              permission:<br>
              <input type="text" name="permission">
              <br><br>
              department:<br>
              <select name="department">
                    <% departments.forEach(function(department) { %>
                    <option value="<%= department.id %>"><%= department.departmentName %></option>
                <br/>
               <% }); %>
               </select>
               <br><br>
              role:<br>
              <select name="role">
                    <% roles.forEach(function(role) { %>
                    <option value="<%= role.id %>"><%= role.roleName %></option>
                <br/>
               <% }); %>
                </select>
                <br><br>
              profile:<br>
              <select name="profile">
                    <% profiles.forEach(function(profile) { %>
                    <option value="<%= profile.id %>"><%= profile.profileName %></option>
                <br/>
               <% }); %>
               </select>
               <br><br>
              
              <input type="submit" value="Create User">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete User') { %>

<% } else if (title == 'Update User') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
             <form action="/usermodule/user/<%= user.id %>/update" method="post">
              firstname:<br>
              <input type="text" name="firstName" value="<%= user.firstName %>">
              <br><br>
              lastname:<br>
              <input type="text" name="lastName" value="<%= user.lastName %>">
              <br><br>
              username:<br>
              <input type="text" name="userName" minlength="8" autocomplete="off" value="<%= user.userName %>">
              <br><br>
              email:<br>
              <input type="email" name="email" value="<%= user.email %>" required>
              <br><br>
              current business:<br>
              <select name="currentBusiness">
                    <% currentBusinesses.forEach(function(currentBusiness) { %>
                    <option value="<%= currentBusiness.id %>"><%= currentBusiness.currentBusinessName %></option>
                <br/>
               <% }); %>
               </select>
               <br><br>
              permission:<br>
              <input type="text" name="permission">
              <br><br>
              department:<br>
              <select name="department">
                    <% departments.forEach(function(department) { %>
                    <option value="<%= department.id %>"><%= department.departmentName %></option>
                <br/>
               <% }); %>
               </select>
               <br><br>
              role:<br>
              <select name="role">
                    <% roles.forEach(function(role) { %>
                    <option value="<%= role.id %>"><%= role.roleName %></option>
                <br/>
               <% }); %>
                </select>
                <br><br>
              profile:<br>
              <select name="profile">
                    <% profiles.forEach(function(profile) { %>
                    <option value="<%= profile.id %>"><%= profile.profileName %></option>
                <br/>
               <% }); %>
               </select>
               <br><br>
              <input type="submit" value="Update User">
            </form>
        </div>
    </div>
<% } else if (title == 'User Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single User</h1><br><br>
             <p>id: <%= user.id%></p>
             <p>firstname:  <%= user.firstName %></p>
             <p>lastname:  <%= user.lastName %></p>
             <p>username:  <%= user.userName %></p>
             <p>email:  <%= user.email %></p>
             <p>current business:  <%= user.Currentbusiness.currentBusinessName %></p>
             <p>permission:  <%= user.permission %></p>
             <p>department:  <%=  user.Department.departmentName %></p>
             <p>role:  <%= user.Role.roleName %></p>
             <p>profile:  <%= user.Profile.profileName %></p>
             <a href="/usermodule/user/<%= user.id %>/update">Edit  User</a> | <a href="/usermodule/user/<%= user.id %>/delete">Delete User</a>
        </div>
        
        <div>
            <% if(user.Posts.length == 0) { %>
            <h2>This User has no post yet</h2>
            <% } else { %>
            
            <h2>Posts By  <%= user.userName %></h2>
            <ul>
                <% user.Posts.forEach(function(post) { %>
                    <li>
                        <p>Post Title:  <%= post.postTitle %></p>
                        <p>Post Body<br><%= post.postBody %></p><br>
                    </li>
                <br>
              <% }); %>
            </ul>
            <% } %>
        </div>
    </div>
    
<% } else if (title == 'User List') { %>
    <div class="col-sm-8">    
        <div class="">
          <ol>
            <% users.forEach(function(user) { %>
                    <li>
                        <h4><a href="/usermodule/user/<%= user.id %>"><%= user.userName %></a></h4>
                        <p><%= user.firstName %> <%= user.lastName %></p>
                        <p>Department:  <%= user.Department.departmentName %></p> 
                        <p>Role:   <%= user.Role.roleName %></p>
                        <p>Current Business:  <%= user.Currentbusiness.currentBusinessName %></p>
                         <a href="/usermodule/user/<%= user.id %>/update">Edit User</a> | <a href="/usermodule/user/<%= user.id %>/delete">Delete User</a>
                    </li>
                <br/>
            <% }); %>
          </ol>
        </div>
      <a href="/usermodule/user/create">CLICK HERE TO CREATE NEW USER</a>
    </div>
<% } else { %>

<% } %>
<!--USER VIEW END HERE-->