<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total users in database is <%= userCount.count %></p>
    <p>Total departments in database is <%= departmentCount.count %></p>
    <p>Total profiles in database is <%= profileCount.count %></p>
    <p>Total roles in database is <%= roleCount.count %></p>
    <p>Total posts in database is <%= postCount.count %></p>
    <p>Current Business in database is <%= currentBusinessCount.count %></p>
</div>